.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.formBody {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.creditCardSection, .fuelPointSection, .expenseDetailsSection {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.defaultOption {
    font-style: italic;
    
}

