main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.signInLink {
  color: #1976d2;
  text-decoration: none;
  font-weight: bold;
}

.signInLink:visited {
  color: #1976d2; 
}

.signInLink:hover {
  text-decoration: underline;
}
