
main {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    
}

header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonGroup {
    align-self: center;
}

