.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 2px;
}