.main {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.activeOffers {
    display: flex;
    flex-direction: column;
    gap: 12px;
}