.main {
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.cardOffers {
    display: flex;
    flex-direction: column;
}
